.listPage {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .title {
    font-weight: bold;
    font-size: large;
    flex: 1;
  }

  .poweredBy {
    display: none;
  }

  @media (min-width: 768px) {
    .poweredBy {
      margin: 0 4px;
      display: flex;
      align-items: center;

      a {
        display: inherit;
      }
    }
  }

  .header {
    flex-grow: 1;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-bottom: gainsboro 2px solid;
    min-height: 45px;
  }

  @import url('./timelineList.less');
}