.timeJumpList {
    flex-grow: 9;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .virtualList {
        height: 100%;
        flex-grow: 18;
        margin-left: 10px;
        padding: 0px;

        .messageItem {
            margin: 0px;
        }
    }

    .slider {
        position: absolute;
        margin: 60px;
        height: 80%;
        flex-grow: 2;
    }
}